# -------------------------
# Unity
# -------------------------
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Visual Studio / Rider
.vscode/
*.csproj
*.sln
*.unityproj
*.user
*.userprefs

# -------------------------
# Firebase (Unity)
# -------------------------
FirebaseCrashlytics*
**/GoogleServices*.plist
**/google-services*.json

Assets/ExternalDependencyManager/*
Assets/GeneratedLocalRepo/
Assets/Plugins/Android/*resolver*/
Assets/Plugins/Android/AndroidManifest.xml

# Android / Gradle
.gradle/
*.apk
*.aab
*.keystore

# iOS
DerivedData/
Pods/

# OS trash
.DS_Store
Thumbs.db
